<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
    <link rel="stylesheet" href="./css/home.css">
    <title>Rocket.q | Seja bem vindo</title>
<body>
    <div id="home" class="content">
        <%- include("./partials/header") %> 
    
        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>

        <main>
            <div class="container">
                <%- include(`./partials/${page}`) %> 
            </div>
        </main>
    </div>
</body>
</html>