<html>
    <head>
        <title>Rocket.q | Senha incorreta</title>
    </head>

    <script>
        confirm("Sua senha está incorreta!");
        window.location.replace("/room/<%= roomId%>");
    </script>
</html>